@model IEnumerable<MusInstrument>

@{
    ViewData["Title"] = "Menu";
}

<div class="row">
    <div class="card-deck cust-card-desk-max-width">
        @foreach (var item in Model)
        {
            <div class='card m-2 p-1 text-center col-4 cust-card-min-width'>
                <img src="~/Images/@item.Image" alt='NoImage' class="card-img-top cust-card-img-cover" />
                <div class="card-body d-flex flex-column justify-content-between">
                    <h5 class="card-title">
                        @item.Name
                    </h5>
                    <p class="card-text overflow-hidden text-truncate text-nowrap">
                        @item.Description
                    </p>
                    <div class="align-bottom">
                        <div class="card-text badge badge-secondary">
                            <h6>@item.Brand</h6>

                        </div>
                        @{
                            // Получение текущего адреса
                            var request = ViewContext.HttpContext.Request;
                            var returnUrl = request.Path + request.QueryString.ToUriComponent();
                        }
                        <!--Разметка кнопки добавления в корзину-->
                        <p class="mt-2">
                            <a asp-action="Add" asp-controller="Cart" asp-route-id="@item.Id" asp-route-returnUrl="@returnUrl" class="btn btn-primary">
                                <i class="fa fa-shopping-cart"></i> To Card
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
